@import "assets/styles/variables.scss";
.homePage {
  height: calc(100% - 25px);
  overflow: auto;
  background-color: $background-color-secondary;
  position: relative;
  .loader {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 25px;
  }
}
.footer {
  position: absolute;
  bottom: 0;
  height: 25px;
  width: 100%;
  padding: 0px 3px;
  color: white;
  background-color: rgba(176, 193, 66, 0.292);
  .server {
    position: absolute;
    top: calc(50% - 8px);
    right: 4.5px;
    span {
      margin-left: 15px;
    }
  }
}
