@import "assets/styles/variables.scss";
$divider-color: rgba(0, 0, 0, 0.28);
$divider-height: 0.0625rem;
.sideMenuContainer {
  // overflow-y: auto;
  height: 100%;
  position: relative;
  .user-controls {
    position: fixed;
    height: 80px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $background-color;
    border-top: $divider-height solid $divider-color;
    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
    padding: 16px;
    .logout {
      color: $accent-color;
    }
    span {
      vertical-align: top;
    }
    svg {
      float: left;
      fill: $accent-color;
    }
  }
  .actual-menu {
    height: calc(100% - 80px);
    overflow-y: overlay;
  }
  .collapsible {
    .text {
      position: sticky;
      top: 0;
      z-index: 1;
      padding: 12px 12px;
      display: block;
      background: $background-color;
      color: $menu-label;
      &:after {
        content: "";
        width: 100%;
        height: $divider-height;
        left: 0;
        position: absolute;
        bottom: 0;
        background: $divider-color;
      }
    }
    .content {
      .nav-button {
        position: relative;

        &.current {
          &:after {
            content: "";
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: white;
            position: absolute;
            right: 25px;
            top: 50%;
            transform: translateY(-50%);
          }
          background-color: $menu-selected;
        }
        svg {
          width: 14px;
          height: 14px;
          margin-right: 20px;
          fill: $menu-item-color;
        }
        padding-left: 16px;
        padding-top: 6px;
        padding-bottom: 6px;
        color: $menu-item-color;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        &:hover {
          background-color: $menu-hover;
        }
      }
    }
  }
}
