@import "assets/styles/variables.scss";
.wrapper {
  width: 100%;
  height: 100%;
  background-color: $background-color;
}
.app-logo-container {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .app-logo {
    height: 16px;
    width: 16px;
    margin-right: 8px;
  }
}

#root {
  height: 100%;
  width: 100%;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  color: white;
}
body {
  overflow: hidden;
}

#titlebar {
  z-index: 200;
  top: 0;
  display: block;
  position: fixed;
  height: 32px;
  width: 100%;
  background: $background-color;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(25, 24, 42);
  padding: 4px;
}

#main {
  position: relative;
  height: calc(100% - 32px);
  margin-top: 32px;
  overflow-y: auto;
}
#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
}
#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  font-family: "Segoe MDL2 Assets";
  font-size: 10px;
}
#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#window-controls #min-button {
  grid-column: 1;
}
#window-controls #max-button,
#window-controls #restore-button {
  grid-column: 2;
}
#window-controls #close-button {
  grid-column: 3;
}

#window-controls {
  -webkit-app-region: no-drag;
}
#window-controls .button {
  user-select: none;
  cursor: default;
  opacity: 0.8;
}
#window-controls .button:hover {
  background: rgba(255, 255, 255, 0.2);
  opacity: 1;
}
#window-controls #close-button:hover {
  background: #e81123;
}

#drag-region span {
  color: white;
}
#window-title {
  display: flex;
  align-self: center;
  align-items: center;
  height: 100%;
}
#window-title span {
  font-size: 12px;
  margin-left: 6px;
}
.sidebar {
  z-index: 1000;
  position: absolute;
  top: 0;
  background-color: $background-color-secondary;
  transform: translate3d(-100%, 0, 0);
  width: 250px;
  height: 100%;
  overflow: auto;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}
.sidebar.show {
  transform: translate3d(0, 0, 0);
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  box-shadow: 7px 0px 15px -2px rgba(0, 0, 0, 0.13);
}
.toggle-button {
  -webkit-app-region: no-drag;
  display: inline-block;
  margin-left: 6px;
  padding: 0;
}
.toggle {
  display: flex;
}
