@import "assets/styles/variables.scss";
.dashboardPage {
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0) 68%,
    rgba(0, 255, 173, 0.08) 90%,
    rgba(255, 224, 0, 0.15)
  );
  padding: 25px;
  .header {
    font-family: Lato;
  }
  .microcopy {
    font-family: Roboto;
    margin-bottom: 25px;
  }
  .card-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: stretch;
    flex-wrap: wrap;
    font-family: Roboto;
    margin: 0 0 0 -0.5rem; /* offset margin to the left and avoid horizontal scrollbar*/
    & > * {
      flex: 1 0 20%;
      margin: 0 0 0.5rem 0.5rem;
    }
    .card {
      height: 230px;
      .description {
        font-size: 14px;
        transform: translate3d(0, -5px, 0);
        opacity: 0;
      }
      .card-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      border-radius: 4px;
      padding: 25px;
      background: rgba(0, 0, 0, 0.197);
      position: relative;
      & svg,
      & .fas {
        fill: white;
        margin-top: -8px;
      }
      &:hover:before {
        content: "";
        top: 0;
        left: 0;
        position: absolute;
        height: 100%;
        width: 5px;
        background: $accent-color;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &:hover {
        svg {
          fill: $accent-color;
        }
        .fa {
          color: $accent-color;
        }
        .count {
          display: none;
        }
        .description {
          transform: translate3d(0, 0, 0);
          opacity: 1;
          transition: transform 0.5s, opacity 1s;
        }
        transition: transform 0.1s ease-in;
        transform: scale(1.01, 1.01);

        background-image: linear-gradient(
          to left,
          $background-color-secondary,
          rgba(106, 106, 106, 0.156) 99%
        );
      }
    }
  }
}
