@import "./variables.scss";
.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-heavy {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.error {
  color: rgb(225, 20, 20);
  font-weight: bold;
  padding: 4px;
}
.furmly-control.script {
  width: 50%;
}
p {
  margin: 0;
}
html {
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

.furmly-control label,
.confirmation-dialog label,
.loginPage label,
.manage-servers label {
  background-color: transparent;
  font-size: 14px;
  padding: 12px 12px 12px 0px;
}

.interactive {
  cursor: pointer;
}
